<%= content_tag_for :div, @registered_application do %>
    <div align="center">
      <h1>
        <%= "#{@registered_application.name}" %>
        <br/><%= link_to @registered_application.url, "http://#{@registered_application.url}", :target => '_blank' %>
      </h1>
      <% if policy(@registered_application).edit? %>
          <%= link_to "Edit", edit_registered_application_path, class: 'btn btn-success' %>
          <%= link_to "Delete", registered_application_path(@registered_application), method: :delete, remote: true, class: 'btn btn-danger' %>
      <% end %>
    </div>
    <h1> Events </h1>
    <% @events.group_by(&:name).each do |name, events| %>
        <div>
          <%= name %> <span class="badge"><%= events.count %></span>
            <% if false %>
                <% unless  Rails.env.development? %>
                  <%= pie_chart @registered_application.events.group(:name).count %>
                <%= line_chart @registered_application.events.group_by_day(:created_at).count %>
              <% end %>
          <% end %>

        </div>
    <% end %>
    <br>
    <div>
      <button class="btn btn-primary" type="button">
        Total Events <span class="badge"><%= @events.count %></span>
      </button>
    </div>
<% end %>